#terrain {
	background: black;
	width: 700px;
    height: 400px;
    position: relative;
}

#balle{
position: absolute;
left: 350px;
top: 200px;
width:20px;
height:20px;
border:1px ;
border-radius: 20px;
background: red
}

#racket1{
    width: 15px;
    height: 100px;
    background: blue;
    position: absolute;
}

#racket2{
    left: 685px;
    width: 15px;
    height: 100px;
    background: red;
    position: absolute;
}
