*{
    font-family: 'VT323';
    font-size: 30px;
    color: white;

}

#terrain {
	background: black;
	width: 700px;
    height: 400px;
    position: relative;
    margin: auto;
}

#balle{
position: absolute;
left: 350px;
top: 200px;
width:20px;
height:20px;
border:1px ;
border-radius: 20px;
animation-name: move;
animation-duration: 10s;
animation-iteration-count: infinite;

}
@keyframes move {
    0% {background-color: red;}
    12.5% {background-color: orange;}
    25% {background-color: yellow;}
    50% {background-color: green}
    62.5% {background-color: blue}
    75% {background-color: indigo}
    100% {background-color: violet}
}

#racket1{
    width: 15px;
    height: 100px;
    left: 10px;
    background: white;
    position: absolute;
    
}


#racket2{
    right: 10px;
    width: 15px;
    height: 100px;
    background: white;
    position: absolute;
    
}


#score1{
    color: white;
    left: 150px;
    position: absolute;
    font-size:75px ;
}

#score2{
    color: white;
    right: 150px;
    position: absolute;
    font-size: 75px;
}

#victoire1{
    color: white;
    right: 0;
    left: 0;
    top: 20%;
    position: absolute;
    text-align: center;
    visibility: hidden;
}

#victoire2{
    color: white;
    right: 0;
    left: 0;
    top: 20%;
    position: absolute;
    text-align: center;
    visibility: hidden;
}

#reset {
    width: 100px;
    right: 0;
    left: 0;
    top: 60%;
    position: absolute;
    margin: auto;
    visibility: hidden;
}

@keyframes racket1{
    0%{background-color: white;}
    50%{background-color: red;}
    100%{background-color: white;}
}

.racket1{
    animation-duration: 1s;
    animation-name: racket1;
}


@keyframes racket2{
    0%{background-color: white;}
    50%{background-color: blue;}
    100%{background-color: white;}
}

.racket2{
    animation-duration: 1s;
    animation-name: racket2;
}
#J1{
    color: white;
    width: 120px;
    left: 150px;
    top: 35%;
    position: absolute;
    margin: auto;
}

#J2{
    color: white;
    width: 120px;
    right: 150px;
    top: 35%;
    position: absolute;
    margin: auto;
}

#start{
    width: 120px;
    right: 0;
    left: 0;
    top: 60%;
    position: absolute;
    margin: auto;
    color: black;
}

.pixel{
    font-size: 25px;
  color: black;
  height: 15px;
  font-family: 'VT323';
  
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  
  cursor: pointer;
  
}


.pixel {
  line-height: 0;
  
  image-rendering: optimizeSpeed;
  image-rendering: crisp-edges;
  border-style: solid;
  border-width: 20px;
  border-image: url(pixel.png) 20 stretch;
}

#pause{
    color: white;
    right: 0;
    left: 0;
    top: 39%;
    position: absolute;
    text-align: center;
    font-size: 40px;
}

#upj1{
    position: absolute;
    left: 77px;
    top: 69%;
}

#downj1{
    position: absolute;
    left: 77px;
    top: 78%;
}

#upj2{
    position: absolute;
    right: 77px;
    top: 69%;
}

#downj2{
    position: absolute;
    right: 77px;
    top: 78%;
}

#touchepause{
    width: 120px;
    right: 0;
    left: 0;
    top: 75%;
    position: absolute;
    margin: auto;
}

