#terrain {
	background: black;
	width: 700px;
    height: 400px;
    position: relative;
    margin: auto;
}

#balle{
position: absolute;
left: 350px;
top: 200px;
width:20px;
height:20px;
border:1px ;
border-radius: 20px;
background: mediumpurple;
}

#racket1{
    width: 15px;
    height: 100px;
    left: 10px;
    background: blue;
    position: absolute;
}

#racket2{
    right: 10px;
    width: 15px;
    height: 100px;
    background: red;
    position: absolute;
}

#score1{
    color: white;
    left: 10px;
    position: absolute;
}

#score2{
    color: white;
    right: 10px;
    position: absolute;
}

#victoire1{
    color: white;
    right: 0;
    left: 0;
    top: 39%;
    position: absolute;
    text-align: center;
}

#victoire2{
    color: white;
    right: 0;
    left: 0;
    top: 39%;
    position: absolute;
    text-align: center;
}

#reset {
    width: 100px;
    right: 0;
    left: 0;
    top: 60%;
    position: absolute;
    margin: auto;
}
